
@{
    ViewData["Title"] = "AddManufactures";
}


<h1>Dodaj novog proizvodjaca</h1>

<form action="/Product/SaveManufacturer">

    <p>Naziv proizvodjaca</p>
    <input type="text" name="manufacturerName" />
    <br />

    <p>Logo URL</p>
    <input type="url" name="logoURL" />
    <br /><br />

    <input type="submit" value="POTVRDI" />
</form>

<br />
<form action="/Product/AddProduct">

    <input type="submit" value="Nazad" />
</form>

